In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics

In [2]:
data = pd.read_csv("../Datasets/Customer_Behaviour.csv")

In [3]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [5]:
data.drop(columns = ['User ID'], inplace = True)
data['Gender'] = data['Gender'].replace(['Male','Female'],[0,1])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           400 non-null    int64
 1   Age              400 non-null    int64
 2   EstimatedSalary  400 non-null    int64
 3   Purchased        400 non-null    int64
dtypes: int64(4)
memory usage: 12.6 KB

In [6]:
scaler = MinMaxScaler(feature_range = (18, 60)).fit(data[['EstimatedSalary']])

In [7]:
x = data.iloc[:,0:2]
y = data.iloc[:,-1]

In [8]:
x['EstimatedSalary'] = pd.DataFrame(scaler.transform(data[['EstimatedSalary']]))

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 42)

In [10]:
clf = MultinomialNB()

In [11]:
clf.fit(x_train, y_train)

MultinomialNB()

In [12]:
y_pred = clf.predict(x_test)

In [13]:
cm = metrics.confusion_matrix(y_test, y_pred)

In [14]:
print(metrics.classification_report(y_test, y_pred, target_names = ['0','1']), '\n')

              precision    recall  f1-score   support

           0       0.72      0.99      0.83        73
           1       0.95      0.40      0.57        47

    accuracy                           0.76       120
   macro avg       0.83      0.70      0.70       120
weighted avg       0.81      0.76      0.73       120